* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}
/* Navbar */
.navbar {
    background-color: #2a2a2a;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.navbar-left h2 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.navbar-left h2:hover {
    color: #ffdd57;
}

.navbar-right {
    display: flex;
    align-items: center;
}

/* Menu Items */
.menu {
    list-style: none;
    display: flex;
    margin: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #ffdd57;
}


.menu-toggle {
    display: none;
}


.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%; 
        right: 0;
        background-color: #2a2a2a;
        width: 100%; 
        text-align: center;
    }
    .navbar{
        width: 100vw;
    }
    .hamburger {
        display: block;
    }

    #menu-toggle:checked + .hamburger + .menu {
        display: flex;
    
    }

    .menu li {
        margin: 15px 0;
    }

    .menu a {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .navbar {
        padding: 10px 15px;
        width:100vw;
    }

    .menu a {
        font-size: 14px;
    }

    .hamburger {
        font-size: 24px;
        
    }

    .menu li {
        margin-left: 0;
    }

    .menu a {
        padding: 10px;
    }
}
/* Hero Section */
.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('background.webp'); 
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-content {
    color: black;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 22px;
}

@media (max-width: 768px) {
    .hero{
        width: 100vw;
        height: 80vh;
        padding-top: 20px;
    }
    .hero h1 {
        font-size: 40px;
    }
    .hero p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    
    .hero{
        margin: 0;
        padding-top: 20px;
        width: 100vw ;
    }
    .hero h1 {
        
        font-size: 30px;
    }
    .hero p {
        font-size: 16px;
    }
}

/* About me*/
.about-me {
    width: 100vw;
    padding: 50px 50px;
    background-color:  #f4f4f4;
    text-align: center;
}
h2 {
    letter-spacing: 2px;
    font-size: 36px;
    margin-bottom: 30px;
    color: black;  
}
.about-me p {
    font-size: 20px;
    line-height: 1.6;
    color: #2d2d2d;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    
}
@media (max-width:768px){
    .about-me{
        width: 100vw;
    }
    .about-me p{
        font-size: 24px;
        line-height: 1.4;
        width: 90%;

    }

}
@media (max-width:480px){
    .about-me p{
        line-height: 1.2;
        width: 94%;

    }

}
/*travel-gallery*/
.travel-gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px 60px;
    background-color: #ece3e3;
    text-align: center;
    width: 100vw;
}
.locations{
    display: flex;
    flex-direction: column;
}
.travel-locations{
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color:lightcyan;
    width: 75vw;
    box-shadow: 0px 0px 15px black;
}

#location2, #location4{
   margin-left: 90px;
   background-color:rgb(240, 233, 193);
}

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
    
}
.location h3{
    margin-bottom: 15px;
    letter-spacing: 4px;
    font-size: 28px;
    
}
.location img{
    margin-bottom: 25px;
    width: 100%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;
}
.location .button{
    display: inline-block;
    padding: 8px 20px;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    
}
.button:hover{
    background-color: black;
    color:white;
    box-shadow: 2px 2px  10px black;
}
.about-location{
    margin: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 60%;
    
}
.about-location p{
    padding: 0px 0px;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    justify-content: center;
    align-items: center;
    color: #2d2d2d;
    
}
.travel-gallery h5{
    font-size: 18px;
}
.link-text{
    text-decoration: none;
}
#link-text{
    text-decoration: none;
    font-size: 20px;
    background-color:rgb(0, 0, 255);
    margin: 10px;
    padding: 6px 16px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    
}
#link-text:hover{
    background-color: black;
    color:white;
    box-shadow: 2px 2px  10px black;

}
 
  @media (max-width: 770px) {
    .travel-gallery{
        padding: 30px 25px;
    }
    .locations{
        align-items: center;
        justify-content: center;
    }
    .travel-locations {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .location {
        width: 100%;
    }
    #location2, #location4{
        margin-left: 0;
        margin-top: 10px;
         
     }
     

    .about-location {
        width: 100%;
        padding: 10px;
    }
    .travel-gallery h5{
        line-height: 1.6;
    }
}

@media (max-width: 480px) {
    .travel-gallery {
        padding: 20px 10px;
    }

    .travel-locations {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px;
    }
    #location2, #location4{
        margin-left: 0;
        margin-bottom: 10px;
         
     }
     .travel-locations h3{
        font-size: 20px;

     }

    .location {
        width: 100%;
    }

    .about-location {
        width: 100%;
        padding: 10px;
    }

    .location img {
        width: 100%;
        height: auto;
    }
    .travel-gallery h5{
        margin: 50px;
    }
}
   
/*contact-section*/
.contact-section{
    padding: 50px 20px;
    text-align: center;
    width: 100vw;
    height: 90vh;
    background-image: url('kasol2.avif'); 
    background-size:cover;
    background-position: center;
    
}
.contact-section h2{
    text-shadow: 0px 0px 10px white;
}
.map-email{
    display: flex;
    height: 90%;
    justify-content: space-around;
    align-items: center;

}
.map-india{
    margin: 30px;
    height: 85%;
    width: 40%;
    
}
.map-india img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px black;
}
.map-india img:hover{
    transform: scale(1.05);
    border-radius: 0;
}
.email-container {
    font-family: Arial, sans-serif;
    padding: 30px 15px;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 0px 0px 20px black;
    background-color: rgb(248, 240, 206);
    opacity: 0.8;
    
    
}
.email-container a  {
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 30px;
     
}
.email-container a:hover {
    background-color: rgb(6, 6, 255);
    color:white;
    font-weight: bold;
}
.email-container i {
    margin-right: 8px;
}
.footer {
    width: 100vw;
    background-color: #2a2a2a; 
    color:#ffdd57;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .contact-section{
        height: 100vh;
    }
    .map-email {
        flex-direction: column;
    
        
    }
    .map-india {
        width: 70%;
        margin: 0px auto;
        height: 65%;
    }
    .email-container {
        margin: 20px auto;
        width: 60%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .contact-section {
        padding: 40px;
        height: auto;
    }

    .map-email {
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

    .map-india {
        width: 75%;
        margin: 60px auto;
        height: auto;
    }

    .map-india img {
        border-radius: 5px;
        box-shadow: 0px 0px 15px black;
    }

    .email-container {
        width: 90%;
        margin:  0;
        padding: 15px 10px;
        box-shadow: 0px 0px 10px black;
    }

    .email-container a {
        padding: 8px 12px;
        
    
    }
}

  